{% extends "home/base.html" %}
{% load static %}
{% block content %}
<style>
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card img {
    transition: transform 0.3s ease;
  }

  .card:hover img {
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .card img {
    object-fit: cover;
    width: 100%;
    height: 120px; /* Adjusted for a smaller image size */
  }

  .card-body {
    padding: 10px; /* Optional: Adjust padding for smaller cards */
  }
</style>
<div class="container-xxl py-5">
    <div class="container">
        <div class="">
            <h1 class="mb-5">Item Types</h1>
        </div>
        <div class="row g-3">
            {% for item_type in item_types %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <div class="card h-100 text-center">
                    <a href="{% url 'item_type_detail' item_type.pk %}">
                        <div style="height: 120px; overflow: hidden;">
                            {% if item_type.image %}
                            <img src="{{ item_type.image.url }}" class="card-img-top" alt="{{ item_type.name }}">
                            {% else %}
                            <img src="{% static 'images/default-item-type.png' %}" class="card-img-top" alt="Default Image">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ item_type.name }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
