{% extends "administrator/base.html" %}
{% load static %}
{% block content %}

<style>
    /* Reduce the height of the chart */
    #partnershipStatusChart, #categoryDistributionChart {
        max-height: 250px !important; /* Adjust the height */
        width: 100% !important; /* Keep it responsive */
    }

    /* Make labels smaller and darker */
    #statusLabelsContainer, #categoryLabelsContainer {
        font-size: 12px; /* Smaller labels */
        color: #333; /* Darker text */
    }
</style>

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Benguet State University
                    </div>
                    <h2 class="page-title">
                        International Relations Office Management System
                    </h2>
                </div>
            </div>
        
        </div>
    </div>
  

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            {% for message in messages %}
                <div class="alert 
                    {% if message.tags == 'success' %}alert-success
                    {% elif message.tags == 'error' %}alert-danger
                    {% elif message.tags == 'warning' %}alert-warning
                    {% endif %}
                    alert-dismissible fade show" role="alert">
                    {{ message|linebreaksbr }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="row row-cards">
                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'item_list' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-blue text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-package" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M12 3l8 4.5v9l-8 4.5l-8 -4.5v-9l8 -4.5" />
                                                <path d="M12 12l8 -4.5" />
                                                <path d="M12 12v9" />
                                                <path d="M12 12l-8 -4.5" />
                                                <path d="M16 5.25l-8 4.5" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color:rgb(59, 108, 172);">
                                            {{ item_count }} Items
                                        </div>
                                        <div class="text-muted">Total inventory count</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'item_type_list' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-teal text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-list">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                                                <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                                                <path d="M9 12l.01 0" />
                                                <path d="M13 12l2 0" />
                                                <path d="M9 16l.01 0" />
                                                <path d="M13 16l2 0" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color: rgb(0, 128, 128);">
                                            {{ item_type_count }} Item Types
                                        </div>
                                        <div class="text-muted">Total item categories</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'partnership_list' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-orange text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart-handshake">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                                <path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25" />
                                                <path d="M12.5 15.5l2 2" />
                                                <path d="M15 13l2 2" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color: rgb(230, 126, 34);">
                                            {{ partnership_count }} Partnerships
                                        </div>
                                        <div class="text-muted">Total partnerships</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'year_list' %}" class="text-decoration-none">
                    <div class="card card-sm card-link-pop">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="bg-green text-white avatar">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h12.5" /><path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M19 21v1m0 -8v1" /></svg>
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="font-weight-medium" style="font-size: 1.2rem; color: rgb(39, 174, 96);">
                                        {{ ppmp_per_year_count }} Expenditures 
                                    </div>
                                    <div class="text-muted">Years with PPMPs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
               
              
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                        
                        </div>
                        <h2 class="page-title">
                            Room Bookings
                        </h2>
                      

                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'pending_reservations' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-warning text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                              </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color: orange;">
                                            {{ reservation_counts.Pending }} Pending
                                        </div>
                                        <div class="text-muted">Pending Reservations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'confirmed_reservations' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-info text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                              </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color: #17a2b8;">
                                            {{ reservation_counts.Confirmed }} Confirmed
                                        </div>
                                        <div class="text-muted">Confirmed Reservations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'cancelled_reservations' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-danger text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708"/>
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                              </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color: #dc3545;">
                                            {{ reservation_counts.Cancelled }} Cancelled
                                        </div>
                                        <div class="text-muted">Cancelled Reservations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <a href="{% url 'completed_reservations' %}" class="text-decoration-none">
                        <div class="card card-sm card-link-pop">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-success text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="0 0 16 16">
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5m9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5m-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                                              </svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium" style="font-size: 1.2rem; color: #28a745;">
                                            {{ reservation_counts.Completed }} Completed
                                        </div>
                                        <div class="text-muted">Completed Reservations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        

                
                <script id="chart-data" type="application/json"
                    data-labels='{{ status_labels|safe }}'
                    data-counts='{{ status_counts|safe }}'
                    data-colors='{{ status_colors_json|safe }}'>
                </script>

                <div id="category-data"
                    data-labels='{{ category_labels|safe }}'
                    data-counts='{{ category_counts|safe }}'>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-center">
                            <h3 class="card-title">Item Category Distribution</h3>
                        </div>
                        <div class="card-body text-center">
                            <canvas id="categoryDistributionChart"></canvas>
                            <!-- Labels under the chart -->
                            <div class="mt-3" id="categoryLabelsContainer"></div>
                        </div>
                    </div>
                </div>
                

                
                <div class=" col-sm-6 col-lg-6 ">
                    <div class="card">
                        <div class="card-header d-flex justify-content-center">
                            <h3 class="card-title ">Partnership Status Distribution</h3>
                        </div>
                        <div class="card-body text-center">
                            <canvas id="partnershipStatusChart"></canvas>
                            <!-- Labels under the chart -->
                            <div class="mt-3" id="statusLabelsContainer"></div>
                        </div>
                    </div>
                </div>
                
                


            </div>
        </div>
    </div>

 

    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Modal Content Here -->
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancel
                    </a>
                    <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                        Create new reports
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script> <!-- Plugin for percentages inside chart -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Partnership Status Chart
        var ctxPartnership = document.getElementById("partnershipStatusChart").getContext("2d");
        var chartDataElement = document.getElementById("chart-data");
        var statusLabels = JSON.parse(chartDataElement.getAttribute("data-labels"));
        var statusCounts = JSON.parse(chartDataElement.getAttribute("data-counts"));
        var statusColors = JSON.parse(chartDataElement.getAttribute("data-colors"));
        var totalStatusCount = statusCounts.reduce((sum, count) => sum + count, 0);
        var backgroundStatusColors = statusLabels.map(label => statusColors[label]);

        new Chart(ctxPartnership, {
            type: 'pie',
            data: {
                labels: statusLabels,
                datasets: [{
                    data: statusCounts,
                    backgroundColor: backgroundStatusColors,
                    borderColor: backgroundStatusColors.map(color => color.replace("0.9", "1")),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            font: { size: 11 },
                            color: '#333',
                        }
                    },
                    tooltip: {
                        enabled: true,
                        callbacks: {
                            label: function (tooltipItem) {
                                let label = statusLabels[tooltipItem.dataIndex];
                                let value = statusCounts[tooltipItem.dataIndex];
                                return `${value}`;
                            }
                        }
                    },
                    datalabels: {
                        formatter: (value) => {
                            let percentage = ((value / totalStatusCount) * 100).toFixed(1) + "%";
                            return percentage;
                        },
                        color: '#fff',
                        font: {
                            weight: 'bold',
                            size: 12
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Item Category Distribution Chart
        var ctxCategory = document.getElementById("categoryDistributionChart").getContext("2d");
        var categoryDataElement = document.getElementById("category-data");
        var categoryLabels = JSON.parse(categoryDataElement.getAttribute("data-labels"));
        var categoryCounts = JSON.parse(categoryDataElement.getAttribute("data-counts"));
        var categoryColors = ["#4CAF50", "#FF9800", "#2196F3"]; // Green, Orange, Blue
        var totalCategoryCount = categoryCounts.reduce((sum, count) => sum + count, 0);

        new Chart(ctxCategory, {
            type: 'pie',
            data: {
                labels: categoryLabels,
                datasets: [{
                    data: categoryCounts,
                    backgroundColor: categoryColors,
                    borderColor: categoryColors.map(color => color.replace("0.9", "1")),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            font: { size: 11 },
                            color: '#333',
                        }
                    },
                    tooltip: {
                        enabled: true,
                        callbacks: {
                            label: function (tooltipItem) {
                                let label = categoryLabels[tooltipItem.dataIndex];
                                let value = categoryCounts[tooltipItem.dataIndex];
                                return `${value}`;
                            }
                        }
                    },
                    datalabels: {
                        formatter: (value) => {
                            let percentage = ((value / totalCategoryCount) * 100).toFixed(1) + "%";
                            return percentage;
                        },
                        color: '#fff',
                        font: {
                            weight: 'bold',
                            size: 12
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    });
</script>
{% endblock content %}